/* Mobile and Tablet */
@media (max-width: 991px) {
    /* Reels */
    #reels {
        width: 88vw;
        height: 89vw;
        max-height: 89vw;
    }

    #reels:before {
        width: 106%;
    }

    .background {
        background-image: url(../assets/images/frame-mobile.webp);
        background-size: cover;
    }

    .reel {
        width: 33.333%;
    }

    .reel:first-child {
        left: -10px;
    }

    .reel:last-child {
        right: -10px;
    }

    /* Animation Images */
    .animation-images {
        font-size: 30%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    /* Layout */
    .body-wrapper {
        background-image: url(../assets/images/page-bg-mobile.webp);
        background-position: center;
    }

    /* Logo */
    .logo {
        max-width: 240px;
        margin-top: 40px;
    }

    /* Persons */
    .left__person {
        display: none;
    }

    .right__person {
        right: -30%;
        bottom: -20px;
        width: 50em;
    }

    /* Bottom Section */
    .bottom__section {
        margin-top: 20%;
    }

    .bottom__section-title {
        font-size: 49px;
    }

    .bottom__section-button {
        font-size: 30px;
    }

    /* Modal */
    .modal__container {
        padding: 0;
        height: auto;
        background-size: 120%;
    }

    .modal__logo {
        margin-top: 0;
        max-width: 90%;
    }

    .modal__title {
        margin-bottom: 0;
        font-size: 36px;
        margin-top: 35%;
        -webkit-text-stroke-width: 4px;
    }

    .modal__text {
        font-size: 21px;
        max-width: 100%;
        margin-bottom: 10px;
        -webkit-text-stroke-width: 1px;
    }

    .is--modal-open .right__person {
        right: -22%;
        bottom: -20%;
    }
}

/* Small Mobile */
@media (max-width: 640px) {
    /* Button */
    .bottom__section-button {
        font-size: 41px;
        height: 80px;
    }

    .bottom__section-button span {
        margin-left: -100px;
        margin-right: -100px;
    }

    .bottom__section-button:after,
    .bottom__section-button:before {
        width: 165px;
    }

    .bottom__section-button:before {
        left: -115px;
    }

    .bottom__section-button:after {
        right: -164px;
    }
}

/* Landscape Mode */
@media (orientation: landscape) {
    .body-wrapper {
        overflow-y: scroll;
    }
}

/* Animations Media Queries */
@media (max-width: 767px) {
    .animation-images__item {
        width: 20em;
    }

    .animation-images__item.is--group2 {
        animation: 2s fadeDown2Mobile ease-in-out infinite;
    }

    .animation-images__item.is--group3 {
        animation: 2.5s fadeDown3Mobile ease-in-out infinite;
    }
}
